html {
    font-size: 6.25%;
}
body {
    font-family: var(--primary-font);
    font-size: 16rem;
    color: var(--dark-text);
}
h2 {
    font-size: 50rem;
    line-height: 1.2;
}

/* Thuộc tích css dùng cùng thuộc tính */
.hero .desc,
.dentures-block p,
.recommend-info p {
    font-size: 18rem;
    line-height: calc(30 / 18);
    margin-bottom: 38px;
    font-weight: 300;
}

/*====================== header ========================*/
.header {
    padding-block: 30px 10px;
    background-color: var(--bg-header);
    color: var(--white-text);
    position: sticky;
    top: -20px;
    z-index: 999;
}
.header-eclipse-group,
.header-eclipse-item {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header-eclipse-group {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    position: relative;
}
.header-eclipse-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--white-text);
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.header-nav > .row {
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #c9d2da;
}
.header-title {
    width: 52px;
    font-size: 14rem;
    line-height: 1.1;
    text-align: right;
    margin-left: 6px;
}
.header-title > b {
    font-size: 18rem;
    color: var(--white-text);
}
.header-menu {
    gap: 42px;
    margin-left: auto;
}
.header-action {
    margin-left: 222px;
    align-items: center;
    gap: 28px;
}
.header-action-btn {
    min-height: 44px;
    min-width: 104px;
    font-weight: 400;
}
.header-menu-link,
.header-action-btn,
.header-action > a:first-child {
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.header-menu-link.active {
    font-weight: 400;
    color: var(--white-text);
}
.header-menu-item:first-child:before {
    width: 6px;
    height: 6px;
    background-color: var(--white-text);
    display: inline-block;
    content: "";
    margin-right: 8px;
    position: relative;
    bottom: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header-action > a:first-child:hover,
.header-menu-link:hover {
    text-decoration: underline;
    font-weight: 400;
    color: var(--white-text);
}
.header-action-btn:hover,
.service-info-btn:hover,
.hero-btn:hover,
.recommend-info a:hover,
.dentist .content > a:hover,
.patients a:hover {
    opacity: 0.8;
}
/* ==================== hero ===================== */
.hero {
    background: var(--bg-header);
    padding-top: 66px;
    padding-bottom: 110px;
    color: var(--white-text);
    margin-bottom: 170px;
}
.hero .content > .row {
    gap: 130px;
    align-items: center;
}
.hero-info {
    width: 43%;
    /* width: 44.188%; */
}
.hero-info a {
    min-width: 205px;
}
.hero-img {
    flex: 1;
}
.hero-info .row {
    align-items: center;
}
.hero .title {
    font-weight: 600;
    font-size: 70rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    margin-bottom: 22px;
}
.hero .desc {
    color: #c9d2da;
}
.hero .sub-title {
    font-size: 18rem;
    margin-left: 38px;
}
.hero-img {
    position: relative;
}
.hero-img img:nth-child(1) {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    z-index: 1;
}
.hero-img img:nth-child(2) {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
/*===================== services ==========================*/
.services {
    text-align: center;
    margin-bottom: 170px;
}
.services .sub-title {
    color: var(--sub-title-color);
    letter-spacing: -0.02em;
    margin-bottom: 22px;
}
.services .desc {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.services-body,
.recommend-body {
    display: flex;
    align-items: center;
    gap: 130px;
}
.services-img,
.recommend-img {
    width: 48.7%;
}
.service-info,
.recommend-info {
    flex: 1;
}
.services-img img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    object-position: 50% 31%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.service-info-group {
    display: flex;
    /* align-items: center; */
    gap: 19px;
    padding: 21px;
}
.service-info-group-icon {
    display: flex;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}
.service-info-group.active {
    background: var(--white-text);
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.service-info-group-icon img {
    width: 22px;
    height: 24px;
    margin: auto;
}
.service-info-group-item {
    flex: 1;
    text-align: left;
}
.service-info-group-item h3 {
    font-size: 18rem;
    color: var(--sub-title-color);
}
.service-info-btn {
    margin-top: 55px;
}
/* ============ works ============= */
.works {
    background: #f6fbff;
    padding: 100px 0;
}
.works .title {
    margin-bottom: 18px;
    color: var(--sub-title-color);
}
.works .desc {
    font-size: 18rem;
    width: 468px;
    margin-bottom: 70px;
}
.works-group {
    display: flex;
    gap: 30px;
}
.works-block {
    position: relative;
    padding: 42px;
    border: 14px solid #2e80ce;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0.1;
    transition: all ease-in-out 300ms;
}

/* .works-block.active {
     opacity: 1; 
     top: 20px; 
} */
.works-block:hover {
    opacity: 1;
    transform: translateY(-20px);
    /* top: -20px; */
}
.works-block h3 {
    margin-top: 18px;
    margin-bottom: 28px;
    font-size: 26rem;
    line-height: calc(36 / 26);
    color: var(--sub-title-color);
}
.works-block p {
    margin-bottom: 18px;
    line-height: calc(28 / 16);
}
.works-block a {
    color: #2e80ce;
    line-height: calc(28 / 16);
}
/* ==================== recommend =============== */
.recommend {
    margin: 170px 0;
}
.recommend-img {
    position: relative;
}
.recommend-img img:first-child,
.recommend-img img:last-child {
    object-fit: cover;
    height: 370px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.recommend-img img:first-child {
    width: 512px;
    object-position: center 30%;
}
.recommend-img img:last-child {
    width: 332px;
    position: absolute;
    bottom: -132px;
    right: -62px;
}
.recommend-body {
    align-items: flex-start;
}
.recommend-info {
    padding-top: 82px;
}
.recommend-info h2 {
    margin-bottom: 18px;
    color: var(--sub-title-color);
}
/* .recommend-info p {
} */
/*========= dentist =========*/
.dentist {
    text-align: center;
    margin-bottom: 187px;
}
.dentist .content > h2 {
    color: var(--sub-title-color);
}
.dentist .content > a {
    margin: 38px auto 70px;
}
.dentist-group {
    display: flex;
    gap: 30px;
    margin-bottom: 38px;
}
.dentist-block {
    flex: 1;
}
.dentist-block h3 {
    margin-top: 3px;
    color: var(--bg-header);
    line-height: 1.75;
}
.dentist-block p {
    font-size: 14rem;
    font-weight: calc(26 / 14);
}
.dentist-img {
    position: relative;
    background: #eaf6ff;
    width: 100%;
    height: 318px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.dentist-img img {
    position: absolute;
    bottom: 0px;
}
.dentist-pages {
    /* margin-top: 38px; */
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.dentist-pages-item {
    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.dentist-pages-item:first-child {
    background: var(--white-text);
    border: 1px solid var(--dark-text);
}
.dentist-pages-item:last-child {
    background: var(--primary-color);
    color: var(--white-text);
}
/* ================== dentures ================ */
.dentures {
    color: var(--white-text);
}
.dentures-block {
    background: var(--primary-color);
    position: relative;
    padding: 76px 70px 75px 514px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.dentures-block > .row {
    gap: 28px;
}
.dentures-block img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.dentures-block h2 {
    margin-bottom: 18px;
}
.dentures-block p {
}
.dentures-action {
    align-items: center;
    justify-content: center;
    gap: 8px;
    line-height: 1;
    min-width: 135px;
    min-height: 40px;
    border: 2px solid #ffffff;
    padding: 8px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.dentures-action .column {
    gap: 4px;
}
.dentures-action i {
    font-size: 40rem;
}
.dentures-action span {
    font-size: 10rem;
}
.dentures-action b {
    font-size: 20rem;
}
/* =========== News ============= */
.news {
    margin: 170px 0;
}
.news h3,
.news a,
.news h2 {
    color: var(--sub-title-color);
}
.news-body {
    display: flex;
    align-items: center;
    gap: 130px;
}
.news-info {
    width: 40.18%;
}
.news-info strong {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: var(--sub-title-color);
    margin: 28px 0;
}
.news-blog {
    flex: 1;
    gap: 30px;
}
.news .dentist-pages {
    justify-content: flex-start;
}
.news-blog-item {
}
.news-blog-item h3 {
    color: var(--sub-title-color);
    line-height: 1.625;
    font-size: 16rem;
    margin-bottom: 10px;
}

.news-blog-item img {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.news-blog-item .pd {
    padding: 18px 24px 21px 22px;
}
.news-blog-item p {
    font-weight: 300;
    font-size: 14rem;
    line-height: 1.7;
    margin-bottom: 12px;
}
.news-blog-item a {
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.7;
}
/* =================== patients ================ */
.patients {
    padding: 100px 0;
    text-align: center;
    margin-bottom: 170px;
}
.line {
    width: 136px;
    height: 2px;
    background: var(--primary-color);
    margin-inline: auto;
}
.patients h2 {
    margin-bottom: 18px;
}
.patients p {
    margin-top: 38px;
    width: 52.7%;
    margin-inline: auto;
    line-height: calc(28 / 16);
}
.patients a {
    margin-top: 38px;
    margin-inline: auto;
}
/* ========== footer ============ */
.footer {
    background: var(--bg-header);
    padding-block: 100px 42px;
}
.footer > .row {
    gap: 78px;
}
.footer-left {
    width: 28.72%;
}
.footer-left > p {
    margin-top: 21px;
    font-family: var(--secondary-font);
    line-height: 1.75;
    color: #a9b3bb;
}
.footer-right {
    flex: 1;
    gap: 78px;
}
.footer-right h4 {
    color: var(--white-text);
    line-height: 1.75;
    margin-bottom: 10px;
}
.footer-right a {
    font-size: 14rem;
    line-height: calc(24 / 16);
    color: #a9b3bb;
}
.footer-right-item.column {
    gap: 28px;
}
.footer-item-list.column {
    gap: 10px;
}
.footer-item-list > p {
    width: 273px;
    font-size: 14rem;
    line-height: calc(26 / 14);
    color: #a9b3bb;
}
.footer-item-list > .row {
    gap: 10px;
}
.footer-right-social-facebook,
.footer-right-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-right-social-facebook {
    background: var(--primary-color);
}
.footer-right-social {
    background: var(--white-text);
}
.footer-right-email {
    margin-top: -18px;
}
.footer-right-email input {
    background: transparent;
    border: 1px solid #406181;
    border-radius: 4px;
    padding: 10px;
    width: 185px;
    font-size: 14rem;
    color: var(--white-text);
}
.footer-right-email .btn {
    color: var(--white-text);
    width: 108px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 10px;
}
.footer .line {
    width: 100%;
    margin-block: 28px;
    height: 1px;
    background: #406181;
}
.footer .copy-right {
    text-align: center;
    color: #aab3ba;
    font-size: 14rem;
}
